= nested_form_for [:admin,@celebrity,@event], multipart: true, remote: true do |f|

  #errors.red-text.center.bold.hidden An error occured

  .row
    .input-field.col.s12
      = f.text_field :title,'data-length': '170'
      = f.label :title
      %small.red-text#title_error

  .row
    .col.s12
      = label_tag :services, 'Services'
      = f.link_to_add :event_services, class: 'deep-purple-text text-accent-4' ,:data => { :target => "#event_services" } do
        %i.material-icons{style: "vertical-align: middle"} add
      %p.no-margin
        %small.red-text#event_services_error
        %small.red-text#base_error
    .col.s12#event_services
      = f.fields_for :event_services do |sc_form|
        .row
          .col.s10.m6.no-padding
            = sc_form.select :service_id, options_from_collection_for_select(@services,'id','name',sc_form.object.service_id)
          .col.s2.m2.little-top-space
            = sc_form.link_to_remove class: 'red-text left' do
              %i.material-icons.small delete

  .row
    .col.s12
      = label_tag :image, 'Image'
  .row
    .col.s12
      %ul.tabs
        %li.tab.col.s6
          %a{href: "#url", class: 'custom-color-text bold'} Paste URL
        %li.tab.col.s6
          %a{href: "#upload", class: 'custom-color-text bold'} Upload File

    #url.col.s12
      .top-space
        .input-field
          = f.text_field :image_url
          = f.label :image_url, 'Image URL', class: 'active'
          %small.red-text#image_url_error

    #upload.col.s12
      .row
        .col.s12.no-padding
          - if @event.photo.present?
            = image_tag @event.photo.url, class: 'image_to_upload top-space', height: 300, width: 300
            = f.check_box :delete_photo, class: 'hidden'
            %a{href: "#", class: 'red-text delete-image'}
              %i.material-icons.small delete
          - else
            %img{src: '',class: 'hidden image_to_upload top-space' }

      .col.s12.m5.no-padding
        .file-field.input-field
          .btn.deep-purple.accent-4
            %span Photo
            = f.file_field :photo, class: 'photo_upload'
          .file-path-wrapper
            %input{type: 'text', class: 'file-path validate', value: @event.photo.original_filename}

  .row
    .input-field.col.s12
      = f.text_area :body, class: 'materialize-textarea','data-length': '2000'
      = f.label :body
      %small.red-text#body_error
