%tr.pretty
  %th= sortable 'name', 'Name'
  %th= sortable 'last_name', 'Last name'
  %th= sortable 'featured', 'Featured'
  %th= sortable 'popular', 'Popular'
  %th Category
  %th= sortable 'fee_min', 'Fee range'
  %th Actions
