.fixed-action-btn.new-button
  = link_to new_admin_celebrity_path, class: "btn-floating waves-effect waves-light btn-large deep-purple accent-4 btn" do
    %i.material-icons add

.card.no-margin
  .card-content
    = form_tag admin_celebrities_path, method: :get, remote: true do
      %p.bold.medium CELEBRITIES
      .row.no-margin
        .input-field.col.s12.no-padding.search-input
          %i.material-icons.prefix search
          = text_field_tag :term, params[:term]
          = label_tag :term, 'Search by name or last name or category or team'
      .row
        .col.s12.no-padding
          = button_tag :submit, "data-disable-with": "Searching ...", class: 'btn deep-purple accent-4 right' do
            Search

    = print_color_status

    .overflow-x
      %table.centered
        %thead#table_header
          = render 'table_header'
        %tbody#celebrities_index
          = render @celebrities

    .top-space.center.pagination-from-table
      = will_paginate @celebrities, renderer: MaterializePaginationCustomHelper::PaginateMaterailizeLinkRenderer

= render 'admin/shareds/modal_confirmation'
