- if current_site.featured_celebrities?
  = render 'banner_featured_celebrities'
- else
  = render 'banner_general_image'

= render 'who_we_are'

.divider

= render 'featured_celebrities'

.separator.center
  %div
    = link_to 'View all celebrities', front_celebrities_path, class: 'btn red btn-large'

= render 'steps'
