.card.no-margin
  .card-content

    .row.border-collection
      %nav.white.black-text.z-depth-0
        .nav-wrapper
          .col.s12
            - if @testimonial.resource_type == 'Celebrity'
              = link_to 'Celebrities',admin_celebrities_path, class: "breadcrumb blue-text"
              = link_to @testimonial.resource.name,admin_celebrity_path(@testimonial.resource), class: "breadcrumb blue-text"
              = link_to 'Testimonials',admin_celebrity_testimonials_path(@testimonial.resource), class: "breadcrumb blue-text"
            - else
              = link_to 'Clients',admin_clients_path, class: "breadcrumb blue-text"
              = link_to @testimonial.resource.name,admin_client_path(@testimonial.resource), class: "breadcrumb blue-text"
              = link_to 'Testimonials',admin_client_testimonials_path(@testimonial.resource), class: "breadcrumb blue-text"
            = link_to 'VIEW','', class: "breadcrumb black-text"

    .row
      .col.s12.m4
        %span.bold Description
      .col.s12.m8
        %span.multiple-line= @testimonial.description

    .row
      .col.s12.m4
        %span.bold Category
      .col.s12.m8
        %span= @testimonial.categories.map(&:name).join(', ').html_safe

    .row
      .col.s12.m4
        %span.bold Featured
      .col.s12.m8
        %span= @testimonial.featured.humanize
