%tr.pretty
  %th= sortable 'name', 'Name'
  %th= sortable 'created_at', 'Date sent'
  %th= sortable 'email', 'Email'
  %th= sortable 'phone', 'Phone number'
  %th= sortable 'event_date', 'Event date'
  %th= sortable 'celebrity_id', 'Type'
  %th Actions
