%tr.pretty
  %th= sortable 'name', 'Name'
  %th= sortable 'site_categories_count','Site'
  %th= sortable 'celebrity_categories_count','Celebrities'
  %th= sortable 'service_categories_count', 'Services'
  %th= sortable 'booking_topic_categories_count', 'Topics'
  %th= sortable 'client_categories_count', 'Clients'
  %th= sortable 'team_categories_count', 'Teams'
  %th Actions
