%tr{id: "#{dom_id video}"}
  %td= video.name
  %td= video.featured.humanize
  %td
    %a.open-video-modal{href: "#"}= video.url
  %td
    = link_to edit_admin_video_path(video), class: 'black-text' do
      %i.material-icons edit
    %span &nbsp;
    %a{href: "#", 'data-url': "#{admin_video_path(video)}", 'data-confirmation-text': "#{video.name}",'data-option-text': 'delete', class: 'open-modal-confirmation red-text'}
      %i.material-icons delete
