.fixed-action-btn.new-button
  = link_to new_admin_celebrity_video_path(@celebrity), class: "btn-floating waves-effect waves-light btn-large deep-purple accent-4 btn" do
    %i.material-icons add

.card.no-margin
  .card-content

    .row.border-collection
      %nav.white.black-text.z-depth-0
        .nav-wrapper
          .col.s12
            = link_to 'Celebrities',admin_celebrities_path, class: "breadcrumb blue-text"
            = link_to @celebrity.name,admin_celebrity_path(@celebrity), class: "breadcrumb blue-text"
            = link_to 'Videos',admin_celebrity_videos_path(@celebrity), class: "breadcrumb black-text"

    .overflow-x
      %table.centered
        %thead#table_header
          = render 'table_header'
        %tbody#videos_index
          = render @videos

    .top-space.center.pagination-from-table
      = will_paginate @videos, renderer: MaterializePaginationCustomHelper::PaginateMaterailizeLinkRenderer


= render 'admin/shareds/modal_confirmation'
= render 'admin/shareds/modal_show_video'
