<!DOCTYPE html>
<html>
  <head>
    <title>Hirecelebrity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'front', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'front', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="notice" style= 'display: none'><%= flash[:notice] %></div>
    <%= render partial: 'front/shareds/navbar' %>
    <%= yield %>
    <footer>
      <%= render partial: 'front/shareds/footer' %>
    </footer>
  </body>
</html>
